#navbar {
  background-color: #0b455c;
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0;
}

.navbar-left,
.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.navbar-left {
  margin-left: 7%;
}

.navbar-right {
  margin-right: 7%;
}

.navbar-text {
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#language-menu {
  background-color: white;
}

/* Mobile Styles */
.mobile-navbar {
  padding: 5px;
}

/* Tablet Styles */
.tablet-navbar {
  padding: 8px;
  gap: 15px;
}

.tablet-navbar .navbar-left {
  margin-left: 4%;
}

.tablet-navbar .navbar-right {
  margin-right: 4%;
}
