#navbar {
	background-color: #0b455c;
	width: 100%;
	color: white;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	position: sticky;
	z-index: 100;
}

.navbar-left, .navbar-right{
	min-width: 0;
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.navbar-left{
	margin-left: 10%;
	align-items: center;
}

.navbar-right{
	margin-right: 10%;
	align-items: center;
}

.navbar-text{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#language-menu{
	background-color: white;
}


