#navbar {
  background-color: #0b455c;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 8px;
}

.navbar-left,
.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.navbar-left {
  margin-left: 7%;
}

.navbar-right {
  margin-right: 7%;
}

.navbar-text {
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#language-menu {
  background-color: white;
}

/* Mobile Styles */
.mobile-navbar .navbar-left {
  margin-left: 3%;
}

.mobile-navbar .navbar-right {
  margin-right: 3%;
  gap: 10px;
}

.mobile-navbar .logo-wrapper {
  gap: 1px; /* Closer text-logo spacing on mobile */
}

/* Tablet Styles */
.tablet-navbar {
  gap: 15px;
}

.tablet-navbar .navbar-left {
  margin-left: 4%;
}

.tablet-navbar .navbar-right {
  margin-right: 4%;
}

.app-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
