* {
	border: 0px;
	margin: 0px;
	padding: 0px;
	user-select: none;
	box-sizing: border-box;
	font-family: "Roboto";
}

body {
	height: 100vh;
	width: 100vw;
	background-color: var(--cfl-background-white);
}

:root {
	--cfl-green: #0b455c;
	--cfl-green-hover: #083041;
	--cfl-background-white: #fafafa;
	--cfl-card-or-input-white: #fff;
	--cfl-card-or-input-white-hover: rgba(0, 0, 0, 0.1);
}
