body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}

.landing-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left;
    padding: 5%;
}

.header-text {
    margin: 0 30vw;
}

.header-p{
    color: gray;
}

.module-container {
    margin: auto 30%;
    min-width: 0;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    padding-left: 0;
    gap: 20px;
}

.module-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    aspect-ratio: 1/1;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    color:darkslategrey;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    align-items: center;
}

@media(max-width: 1000px){
    .module-container{
        margin: auto 20%;
    }
}

@media(max-width: 800px){
    .module-container{
        margin: auto 10%;
    }
}

@media(max-width: 650px){
    .module-container{
        margin: auto 5%;
    }
}